.hero_section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.my_pic_logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user_id {
    line-height: 1.2;
}

.my_pic_logo img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
}

.user_id a {
    color: inherit;
    text-decoration: none;
}

.logo_container p {
    font-size: 30px;
    font-weight: 540;
    border-style: outset;
}

.body_section {
    margin-top: 150px;
}

.paragraph {
    text-align: center;
    line-height: 50px;
}

.paragraph p {
    font-size: 25px;
}

/* Main animated text */
.paragraph span {
    position: relative;
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    color: darkblue;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;
}

/* Animated effect */
.paragraph span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    font-size: inherit;
    font-weight: inherit;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: revealText 4s ease-in-out infinite;
}

@keyframes revealText {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

#pew{
    font-size: 40px;
}

#lypse{
    font-family: cursive;
}


